<a href="https://colab.research.google.com/github/wahyuziwangga/Paccman/blob/main/Exercise_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 1 Python**

Introduction to Software & Data Engineering with Python - Sekolah Engineering - Pacmann Academy

Materi yang diujikan pada exercise ini adalah
1. A Good First Program
2. Primitive Data Structure
3. Boolean
4. Branching

## **A Good First Program**

### **Printing**

**Case Study 1**

#### **1a**
Cobalah tampilkan nama Anda menggunakan perintah print!

In [2]:
# Code in here
print('wahyu')

wahyu

#### **1b**
Cobalah print text di bawah ini!

Saya sedang belajar melakukan perintah print pada Python

In [3]:
# Code in here
print("Saya sedang belajar melakukan perintah print pada Python")

Saya sedang belajar melakukan perintah print pada Python

#### **1c**
- Misalkan terdapat sebuah segitiga dengan tinggi 3 cm dan alas 2 cm.
- Cobalah print tinggi dari segitiga tersebut!

In [4]:
# Code in here
tinggi=3
alas=2
print(tinggi)

3

### **Variabel**

**Case Study 2**

- Variabel merupakan tempat menyimpan sebuah nilai ataupun data.
- Kita dapat membuat variabel dengan menggunakan syntax sebagai berikut:
```python
nama_variabel = <nilai>
```
- Nilai dapat berupa teks maupun angka/bilangan.

#### **2a**
Misalkan kita ingin membuat sebuah variabel yang menyimpan nama kita

- Nama Variabel = nama
- Isi dari Variabel = "nama kita"

In [5]:
# Code in here
nama='Wahyu Maulana Ziwangga'

#### **2b**
Misalkan kita ingin membuat sebuah variabel yang menyimpan text **"Saya sedang belajar membuat variabel"**

- Nama Variabel = text
- Isi dari Variabel = "Saya sedang belajar membuat variabel"

In [6]:
# Code in here
text='Saya sedang belajar membuat variabel'

#### **2c**
Perhatikan contoh variabel di bawah ini!
```python
tinggi_trapesium_yang_saya_miliki = 5
```

Pada Video Learning sebelumnya, kita telah belajar mengenai Bad and Good Variables. Contoh variabel di atas merupakan variabel yang buruk. Buatlah variabel yang baik dari contoh di atas!

In [9]:
# Code in here
tinggi_trapesium=5
print(tinggi_trapesium)

5

### **More Printing!!**

**Case Study 3**

Setelah sebelumnya kita telah mempelajari mengenai variabel, maka sekarang kita akan belajar bagaimana caranya menampilkan isi dari variabel yang telah kita buat sebelumnya.

Misalkan kita membuat variabel yang akan menyimpan nama dan umur seseorang. Kemudian kita ingin menampilkan isinya.

- nama = "Mark Zuckerberg"
- umur = 38

#### **3a**
Tampilkanlah isi dari variabel nama!

In [10]:
# Code in here
nama="Mark Zuckerberg"
umur=38
print(nama)

Mark Zuckerberg

#### **3b**
Tampilkanlah isi dari variabel umur!

In [11]:
# Code in here
print(umur)

38

#### **3c**

Apakah output yang akan dihasilkan dari potongan *code* di bawah ini?
- nama = "Mark Zuckerberg"
- umur = 38
- print(Ini adalah %s. Beliau berumur %s tahun." % (nama, umur))

In [18]:
# Code in here
print("ini adalah %s. Beliau berumur %i tahun."%(nama,umur))

ini adalah Mark Zuckerberg. Beliau berumur 38 tahun.

### **Commenting**

**Case Study 4**
- Commenting merupakan sebuah komentar yang digunakan untuk memperjelas maksud dari sebuah proses ataupun sebuah perintah.
- Apabila dijalankan commenting tidak akan melakukan eksekusi apapun.
- Commenting diperlukan untuk mempermudah kita mengerti suatu program.
- Commenting juga akan mempermudah orang lain yang hendak membaca program kita kelak.

#### **4a**

- tinggi_trapesium = 4 cm
- print(tinggi_trapesium)

Berilah komentar pada code di atas menggunakan inline comment!

In [21]:
# Code in here
tinggi_trapesium=4 #tinggi trapesium
print(tinggi_trapesium) #cetak tinggi trapesium

4

#### **4b**
Berilah comment pada code di bawah ini!

In [22]:
# Code in here
# Masukkan comment di titik - titik di bawah ini

#cetak tanggal 17 agustus
print("17 Agustus adalah hari kemerdekaan Indonesia")

17 Agustus adalah hari kemerdekaan Indonesia

#### **4c**

Terdapat dua code di bawah ini

- luas_persegi = sisi_persegi * sisi_persegi # mencari luas persegi
- luas_persegi = sisi_persegi * sisi_persegi # Ini adalah baris yang digunakan untuk mencari luas persegi sebagai hasil perkalian sisi persegi dengan sisi persegi

Manakah code yang memiliki komentar yang baik?

Isi jawaban di titik - titik di bawah ini

luas_persegi = sisi_persegi * sisi_persegi # mencari luas persegi

### **Error**


Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:
- Perhatikan error outputnya
- Cobalah untuk googling mengenai error tersebut
- Kemudian cobalah code yang telah digoogling sebelumnya
- Apabila masih belum *solve*, cobalah untuk googling kembali

**Case Study 5**

Pak Joko memiliki 3 orang anak. Setiap hari ia selalu memberikan uang saku kepada ketiga anaknya dengan rincian sebagai berikut:
- Anak Pertama: 25.000
- Anak Kedua 15.000
- Anak Ketiga 10.000

#### **5a**
Misalkan kita melakukan print pada uang jajan anak pertama menggunakan perintah dibawah ini:

In [25]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

PRINT(anak1):

SyntaxError: invalid syntax (<ipython-input-25-7cce1744ab68>, line 5)

In [27]:
#Code in here
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000
print(anak_1)

25000

#### **5b**
Misalkan kita melakukan print pada uang jajan anak kedua menggunakan perintah dibawah ini:

In [ ]:
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

print(ANAK_2)

NameError: ignored

In [28]:
# Code in here
anak_1 = 25000
anak_2 = 15000
anak_3 = 10000

print(anak_2)

15000

#### **5c**
Misalkan kita ingin menjalankan potongan code di bawah ini

- print("Uang saku anak pertama adalah 25.000")
    - print("Uang saku anak kedua adalah 15.000")
- print("Uang saku anak ketiga adalah 10.000")

In [ ]:
print("Uang saku anak pertama adalah 25.000")
  print("Uang saku anak kedua adalah 15.000")
print("Uang saku anak ketiga adalah 10.000")

IndentationError: ignored

In [29]:
# Code in here
print("Uang saku anak pertama adalah 25.000")
print("Uang saku anak kedua adalah 15.000")
print("Uang saku anak ketiga adalah 10.000")

Uang saku anak pertama adalah 25.000
Uang saku anak kedua adalah 15.000
Uang saku anak ketiga adalah 10.000

# **Primitive Data Structure**

### Case 1: Tanah Pak Banu

Pak Banu memiliki sebidang tanah berbentuk Persegi Panjang dengan panjang 80 meter dan lebar 50 meter.

![1.jpg](https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mds-python-indo/1a.jpg)

#### **1A**

Berapakah luas tanah Pak Banu ?

In [30]:
# definisikan variabel panjang dan lebar
panjang=80
lebar=50


# cari luas tanah menggunakan rumus luas persegi
# luas persegi = panjang * lebar
luas=panjang*lebar

# tampilkan luas tanah
print('Luas tanah Pak Banu = %i m^2'%(luas))

Luas tanah Pak Banu = 4000 m^2

#### **1B**
Pak Banu berencana untuk menanaminya dengan pohon jeruk. Jika pohon jeruk akan ditanam di tanah yang Pak Banu miliki, dan jarak antar pohon 5 * 5 meter, berapakah jumlah bibit pohon jeruk yang dibutuhkan Pak Banu ?

![12.jpg](https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mds-python-indo/1b.jpg)

```
Keterangan :
Rumus menghitung jumlah pohon
jumlah pohon di sisi panjang = (panjang tanah / jarak pohon ) + 1
jumlah pohon di sisi lebar = (lebar tanah / jarak pohon ) + 1
total pohon = jumlah pohon di sisi panjang * jumlah pohon di sisi lebar

```

In [31]:
# definisikan variabel constant jarak antar pohon
jarak_pohon=5
panjang_tanah=80
lebar_tanah=50


# hitung jumlah bibit pohon
# pakai variabel panjang dan lebar tanah di soal 1A
jumlah_pohon_panjang=(panjang_tanah/jarak_pohon)+1
jumlah_pohon_lebar=(lebar_tanah/jarak_pohon)+1
total_pohon=jumlah_pohon_panjang*jumlah_pohon_lebar

# tampilkan jumlah bibit pohon jeruk
print("Jumlah bibit pohon jeruk yang dibutuhkan = %i pohon"%(total_pohon))

Jumlah bibit pohon jeruk yang dibutuhkan = 187 pohon

#### **1C**

Diketahui saat panen setiap pohon akan menghasilkan rata-rata 15 kg jeruk. Pak Banu menjual jeruk tersebut dengan harga 18.000 per kilogram. Berapakah pendapatan **(revenue)** yang didapatkan Pak Banu jika diasumsikan seluruh jeruk terjual ?


```
Keterangan:
rumus revenue = jumlah barang * harga
```

In [33]:
# definisikan variabel jumlah hasil per pohon dan harga per kilogram jeruk
kg_per_pohon=15
harga_perkg=18_000

# cari total keseluruhan total berat jeruk terlebih dahulu
# pakai variabel total pohon yang dibutuhkan pada soal 1C
# hitung dahulu hasil total jeruk = hasil per pohon * jumlah pohon
total_berat_jeruk=total_pohon*kg_per_pohon

# hitung pendapatan atau revenue
pendapatan=total_berat_jeruk*harga_perkg

# tampilkan revenue yang didapatkan
print("Revenue yang didapatkan = Rp %i"%(pendapatan))

Revenue yang didapatkan = Rp 50490000

#### **1D**

Jika modal yang dibutuhkan untuk pekerja, pupuk, obat tanaman, peralatan, dll adalah sekitar 9.000.000 rupiah, berapakah keuntungan bersih yang didapatkan Pak Banu ?



```
Keterangan :
rumus laba bersih = total pendapatan - total pengeluaran
```

In [34]:
# definisikan variabel untuk biaya berkebun
total_pengeluaran=9_000_000

# hitung untung bersih yang didapatkan
# Gunakan variabel revenue dari soal nomer 1C
laba_bersih=pendapatan-total_pengeluaran

# tampilkan keuntungan bersih yang didapatkan
print("Keuntungan bersih yang didapatkan = Rp %i" %(laba_bersih))

Keuntungan bersih yang didapatkan = Rp 41490000

### Case 2: Donat Bu Ida

Bu Ida baru saja merintis berjualan kue donat. Dalam 10 kue donat menghabiskan dana sekitar Rp 70.000 untuk bahan-bahan dan Rp 10.000 untuk operasional.

####**2A**
Hitunglah biaya produksi 10 kue donat Bu Ida

```
keterangan:
biaya produksi = biaya bahan + biaya operasional
```

In [35]:
# definisikan variabel biaya bahan dan biaya operasional
biaya_bahan=70_000
biaya_operasional=10_000

# hitung biaya produksi
biaya_produksi=biaya_bahan+biaya_operasional

# tampilkan biaya produksi 10 donat yang sudah di hitung
print(f'Biaya produksi 10 donat Bu ida = Rp {biaya_produksi}')

Biaya produksi 10 donat Bu ida = Rp 80000

#### **2B**

Jika Bu Ida ingin mendapatkan keuntungan sebanyak 20%, berapa harga donat per biji yang harus ditetapkan ?
```
keterangan :
harga jual produk = biaya produksi + (prosentase keuntungan * biaya produksi)
```

In [36]:
# definisikan variabel prosentase keuntungan
presentase_keuntungan=0.2


# hitung harga jual produk
harga_jual_produk=biaya_produksi+(presentase_keuntungan*biaya_produksi)

# perlu diketahui bahwa harga di atas adalah harga 10 produk
# untuk mengetahui harga per biji maka harus dibagi 10
# hitung harga per produk
harga_produk=harga_jual_produk/10

# tampilakn harga kue donat per biji
print("Harga donat per biji adalah: Rp %i"%(harga_produk))

Harga donat per biji adalah: Rp 9600

### Case 3: Dana Pensiun Bruno

Bruno adalah seorang pekerja swasta. Supaya tidak menggantungkan diri kepada anaknya dia ingin menyiapkan dana untuk masa pensiun nanti. Untuk itu, Bruno mengikuti program dana pensiun dari suatu lembaga keuangan.  Dengan asumsi Bruno akan pensiun dari pekerjaanya pada usia 55 tahun dan usia yang bisa di ikuti dalam program dana pensiun tersebut adalah sampai usia 80 tahun.

#### **3A**

Jika total biaya hidup Bruno saat ini adalah sekitar 4.000.000 per bulan. Berapakah tabungan pensiun yang harus disiapkan ?



```
keterangan:
biaya pensiun = biaya hidup per bulan x 12 (jumlah bulan dalam satu tahun) x rentang umur
```

In [2]:
# definisikan variabel biaya hidup per bulan
biaya_hidup=4_000_000

# definisikan variabel umur saat pensiun
# dan umur maksimal pada program dana pensiun
umur_pensiun=55
umur_max=80

# hitung rentang umur saat mengikuti program dana pensiun
# rentang umur = umur max - umur pensiun
rentang_umur=umur_max-umur_pensiun

# hitung biaya pensiun yang dibutuhkan
biaya_pensiun=biaya_hidup*12*rentang_umur

# tampilkan hasil perhitungan biaya pensiun
print(("Biaya pensiun yamh harus disiapkan Bruno adalah = Rp %i" %(biaya_pensiun)))

Biaya pensiun yamh harus disiapkan Bruno adalah = Rp 1200000000

#### **3B**
Jika saat ini Bruno berusia 25 tahun. Berapakah gaji yang harus disisihkan per bulan untuk tabungan pensiunnya ?

In [4]:
# definisikan umur Bruno sekarang
umur=25

# hitung lama bruno harus menabung
# lama menabung = umur pensiun - umur sekarang
lama_menabung=umur_pensiun-umur

# hitung jumlah tabungan dalan satu tahun yang harus dikumpulkan
# tabungan dalam satu tahun = biaya pensiun / lama menabung
tabungan_per_tahun=biaya_pensiun/lama_menabung

# hitung tabungan per bulan yang harus dikumpulkan
# tabungan per bulan = jumlah tabungan dalam satu tahun / 12 (jumlah bulan)
tabungan_per_bulan=tabungan_per_tahun/12

# tampilkan hasil perhitungan tabungan per bulan
print(f"tabungan per bulan untuk pensiun : Rp {tabungan_per_bulan}")

tabungan per bulan untuk pensiun : Rp 3333333.3333333335

### Case 4: Data Administrator

Seorang Data Administrator di Perusahaan S yang baru saja masuk ke kantor diberi task oleh bosnya untuk mengambil data seorang karyawan. Datanya sebagai berikut:

| Nama | NIK | Jenis Kelamin | Alamat | Jabatan |
|-|-|-|-|-|
|Enzo Ferdinand | 223312 | Laki-Laki | Jl. Mawar No. 13, Kota A | Marketing Staff|

####**4A**

Ambil karakter pertama dari nama awal karyawan tersebut, kemudian ambil juga nama terakhir. Setelah itu gabungkan keduanya sehingga menjadi `E. Ferdinand`

In [7]:
# definisikan variabel nama karyawan dahulu
nama_karyawan='Enzo Ferdinand'

# lakukan slicing untuk mendapatkan karakter pertama nama awal
FirstName=nama_karyawan[:1]

# lakukan slicing untuk mendapatkan nama terakhir
LastName=nama_karyawan[5:]

# gabungkan nama awal dan nama terakhir
nama_gabungan=FirstName+'.'+LastName

# tampilkan nama yang sudah digabung
print(f'nama karyawan= {nama_gabungan}')

nama karyawan= E.Ferdinand

#### **4B**

Posisi Manager Marketing di Perusahaan tersebut sedang kosong karena suatu hal. Pimpinan perusahaan mempromosikan E. Ferdinand di posisi tersebut karena pekerjaannya memberi pengaruh besar kepada perusahaan. Ubah jabatan karyawan tersebut dari Marketing Staff menjadi Marketing Manager.

In [10]:
# definisikan variabel untuk menampung jabatan karyawan tersebut
Jabatan_karyawan='Marketing staff'

# ganti kata Staff menjadi Manager
Jabatan_karyawan=Jabatan_karyawan.replace('staff','Manager')

# tampilkan nama karyawan dan jabatannya sekarang
print(f"Jabatan Bapak {nama_gabungan} adalah {Jabatan_karyawan}")

Jabatan Bapak E.Ferdinand adalah Marketing Manager

### Case 5: Analisa Lirik Lagu

Alexa sangat menyukai band Bonjovi, terutama lagunya yang berjudul `it's my live`. Sangking sukanya Alexa sampai membuat analisis pada bagian reff lagu tersebut

In [11]:
lyrics =  '''
It's my life
It's now or never
But I ain't gonna live forever
I just want to live while I'm alive
It's my life
My heart is like an open highway
Like Frankie said, I did it my way
I just want to live while I'm alive
It's my life
'''

#### 5A

Sebelum melakukan analisis baiknya dilakukan pembersihan data dahulu. Beberapa caranya adalah:
- Membuat huruf menjadi kecil semua,  
- Menghilangkan karakter yang tidak diinginkan seperti tanda petik (`'`) dan tanda koma (`,`)



Catatan :

Untuk **menghilangkan** suatu karakter bisa menggunakan method `replace`. Maksudnya karakter tersebut **diganti atau di-replace** dengan **empty string** `("")`

Contoh :

Kita akan menghilangkan huruf `"b"` dari kata `"bisa"`
```
NAMA_VAR = "bisa"
NAMA_VAR = NAMA_VAR.replace('b', "")
# output
print(NAMA_VAR)
"isa"
```

In [13]:
# buatlah huruf di variabel lyrics menjadi huruf kecil semua
lyrics=lyrics.lower()

# hilangkan tanda petik dengan method replace
lyrics=lyrics.replace("'","")
# hilangkan tanda koma dengan method replace
lyrics=lyrics.replace(",","")

# tampilakn lirik yang sudah di lakukan pembersihan data
print(lyrics)

its my life
its now or never
but i aint gonna live forever
i just want to live while im alive
its my life
my heart is like an open highway
like frankie said i did it my way
i just want to live while im alive
its my life

####**5B**

Berapa banyak karakter dalam lirik tersebut?

In [15]:
# definisikan variabel dan hitung banyak karakter dengan method python
Jumlah_karakter=len(lyrics)

# tampilkan banyak karakter dalam lirik tersebut
print("Banyak karakter dalam lirik adalah %i karakter" %(Jumlah_karakter))

Banyak karakter dalam lirik adalah 221 karakter

#### **5C**

Berapakah banyak kemunculan kata `life` dalam lirik tersebut

In [19]:
# definisikan variabel dan hitung kemunculan kata life dengan method python
jumlah_life=lyrics.count('life')

# tampilkan banyak kemunculan kata tersebut
print("Kemunculan kata 'life' sebanyak %i kali" %(jumlah_life))

Kemunculan kata 'life' sebanyak 3 kali

####**5D**

Berapakah prosentase kemunculan karakter `life` dalam lagu tersebut
```
keterangan:
prosentase = (jumlah kemunculan / total karakter) * 100
```

In [38]:
# definisikan variabel dan hitung prosentase kemunculan karakter life
presentase_kemunculan=(jumlah_life/Jumlah_karakter)*100

# tampilkan prosentase kemunculan karakter life dalam lirik tersebut
print("presentase kemunculan karakter life dalam lirik yaitu %f %% " %(presentase_kemunculan))

presentase kemunculan karakter life dalam lirik yaitu 1.357466 %

# **Boolean**

Buatlah variabel boolean dengan nama variabel_1 dan variabel_2 masing masing True dan False

In [41]:
# Code in here
variabel_1=True
variabel_2=False

Gunakan variabel_1 dan variabel_2 sebelumnya dengan operasi boolean tidak sama dengan

In [43]:
# Code in here
variabel_1!=variabel_2

True

Cek nilai bolean dari operasi berikut: 10 >= 11

In [44]:
# Code in here
10>=11

False

Buatlah operasi boolean dengan pernyataan 6 lebih besar 7  dengan  dari 1

In [45]:
# Code in here
6>7

False

Ubahlah operator pada operasi boolean diatas sehingga menghasilkan nilai boolean yang berkebalikan

In [47]:
# Code in here
not (6>7)

True

Masukkan nilai variabel a sehingga nilai boolean dari operasi berikut bernilai True

In [48]:
# Code in here
a = 12 #nilai apapun yang melebih atau sama dengan nilai 10
b = 10

a >= b

True

Tambahkan operasi dibawah ini kedalam python menggunakan variabel a dan b sebelumnya

    a tidak sama dengan b dan a lebih besar dari b

In [49]:
# Code in here
a !=b and a>b

True

Buatlah variabel angka_1 lalu buatlah sesuai dengan pernyataan operasi berikut

    angka_1 lebih besar sama dengan 6 tidak sama dengan angka_1 lebih kecil dari 12

Buatlah agar mengeluarkan output True

In [53]:
# Code in here
angka_1=7
angka_1 >= 6 != angka_1 < 12

True

Ubahlah operator tidak sama dengan menjadi operator logic and pada operasi sebelumnya. buatlah agar output booleannya menjadi False:

In [55]:
# Code in here
angka_1=7
angka_1 >= 6 ==  angka_1 < 12

False

Cek apakah jarak rumah budi ke sekolah 250 meter, lebih jauh dari jarak rumah tono ke sekolah 223 meter.

In [56]:
# Code in here
jarak_rumah_budi = 250 #meter
jarak_rumah_tono = 223 #meter

jarak_rumah_budi > jarak_rumah_tono

True

Cek apakah jika nama Cynthia dan nama Cynth'ia itu sama dengan menggunakan operator boolean

In [57]:
# Code in here
'Cynth''ia'== 'Cynthia'

True

Masukkan nilai ke dalam variable a, b dan c sehingga nilai boolean dari operasi logika berikut menjadi False (untuk angkanya bebas)

    (a > b AND a > c ) OR (b < c)

In [58]:
a = 2
b = 4
c = 3

(a>b and a>c) or (b<c)

False

Dengan operasi logika sebelumnya ubah nilai variabel sehingga menjadi True

In [59]:
a = 2
b = 3
c = 4

(a>b and a>c) or (b<c)

True

Cek apakah nilai x lebih kecil atau sama dengan y bila diketahui: y = 3$x^{2}$ + 4x - 27 dan x = 3

In [73]:
# Code in here
x=3
y=(3*x**2)+(4*x-27)

print(y)

x<=y

12

True

Dari soal sebelumnya, jika ditambahkan nilai z = 3x + 5$y^{2}$ - 18, tentukan hasil operasi berikut :

    (z > y) AND (x < z OR x >= y)

In [74]:
# Code in here
z=3*x+5*y**2-18
print(z)

(z > y) and (x < z or x >= y)

2**3

711

8

<details>
    <summary><b>Klik untuk melihat kunci jawaban</b></summary>

```python
z = 3*x + 5*y**2 - 18

(z>y) and (x<z or x >=y)
```

</details>

---

# **Branching**

Buatlah program yang menentukan apakah seseorang dapat membuat SIM atau tidak. Batas usia minimum pembuatan SIM adalah 18 tahun.

In [75]:
# Code in here
usia=20

if usia >=18 :
    print('boleh buat sim')
else:
    print('belum boleh buat sim')

boleh buat sim

Buat program yang mengecek apakah sebuah variable memiliki tipe data string, float atau integer

In [79]:
# Code in here

var = 'halo'

if type(var)== int:
    type_var='int'
elif type(var)== float:
    type_var='float'
elif type(var)== str:
    type_var='str'

print(f'tipe data {var} adalah {type_var}')

tipe data halo adalah str

Buatlah program yang mengecek apakah sebuah bilangan habis di bagi 5 atau tidak

In [82]:
# Code in here

angka_1 = 102

if angka_1%5 == 0:
    print('angka habis dibagi 5')
else:
    print(f'angka memiliki sisa {angka_1%5}')

angka memiliki sisa 2

Cek yang manakah paragraf di bawah ini yang memilik jumlah karakter lebih banyak?

    lirik_1 =
            "This ain't a song for the broken-hearted No silent prayer for faith-departed And I ain't gonna be just a face in the crowd You're gonna hear my voice when I shout it out loud"
            
    lirik_2 =
            "Yeah, this is for the ones who stood their ground For Tommy and Gina,
            who never backed down Tomorrow's getting harder, make no mistake Luck
            ain't even lucky, got to make your own breaks"

In [83]:
# Code in here

lirik_1 = "This ain't a song for the broken-hearted No silent prayer for faith-departed And I ain't gonna be just a face in the crowd You're gonna hear my voice when I shout it out loud"
lirik_2 = "Yeah, this is for the ones who stood their ground For Tommy and Gina who never backed down Tomorrow's getting harder, make no mistake Luck ain't even lucky, got to make your own breaks"

if len(lirik_1)>(len(lirik_2)):
    print("lirik_1 memiliki karakter lebih banyak")
else:
    print("lirik_2 memiliki karakter lebih banyak")

lirik_2 memiliki karakter lebih banyak

Minimaket "AAA" memberikan diskon 10% bagi pelanggan yang total belanjannya diatas Rp. 100.000. Ani belanja di minimarket A dengan rincian belanja sebagai berikut:


| barang      | Sub total harga  |
|-------------|--------|
| 1 Sabun Mandi | 25000  |
| 2 Sabun Cuci| 2 x 18000 |
| 1 Kotak Susu | 48000  |
| 2 Pasta Gigi | 2 x 11000  |



Buat program yang menentukan apakah total belanja Ani mendapat diskon atau tidak. Cetak total belanja yang harus di bayar Ani.

In [85]:
# Code in here
total_belanja=25000+(2*18000)+48000+(2*11000)

if total_belanja > 100000:
    diskon=total_belanja*0.1
    total_bayar=total_belanja-diskon
    print(f"diskon {diskon} total bayar {total_bayar}")
else:
    diskon=0
    total_bayar=total_belanja-diskon
    print(f"diskon {diskon} total bayar {total_bayar}")

diskon 13100.0 total bayar 117900.0

Buatlah program yang menentukan kategori generasi seseorang berdasarkan tahun lahirnya. Kondisi pengkategoriannya sebagai berikut:
 - Baby boomer, kelahiran 1944 s.d 1964
 - Generasi X, kelahiran 1965 s.d 1979
 - Generasi Y (Millenials), kelahiran 1980 s.d 1994
 - Generasi Z, kelahiran 1995 s.d 2015

In [87]:
# Code in here
generasi=1994

if generasi>= 1944 and generasi <=1964:
    print("anda adalah generasi boomer")
elif generasi >= 1965 and generasi <= 1979:
    print("anda adalah generasi x")
elif generasi >=1980 and generasi <= 1994:
    print("anda adalah generasi millenials")
elif generasi >=1995 and generasi <= 2015:
    print("anda adalah generasi z")

anda adalah generasi millenials

Dinas Kesehatan ingin melakukan vaksinasi tahap 1, dengan syarat, warga yang akan di vaksin berprofesi sebagai petugas pelayanan umum seperti TNI, Polri Perawat atau Dokter. Di luar profesi tersebut maka ia bukan prioritas program vaksinasi. Jika usia petugas pelayanan umum kurang dari 50 tahun maka akan di berikan vaksin buatan Sinovac namun jika berusia 50 tahun ke atas maka akan diberikan vaksin Novavax.

note: soal di atas hanya fiktif

Buatlah program untuk menentukan target dan vaksin yang akan diberikan terhadap kasus tersebut.

In [ ]:
# Code in here
...

Andi akan di berikan vaksin Sinovac

Buatlah program yang menerima input bilangan (x), kemudian akan melakukan perintah berikut:
- n bernilai 8
- Jika x ganjil, maka print "ganjil"
- Jika x genap dan berada pada rentang 2 sampai 7, print (genap di bawah 7)
- Jika x genap dan berada pada rentang 8 sampai 28, print (genap antara 8-28)
- Jika x genap dan lebih besar dari 28, print (genap antara ditas 28)

In [97]:
# Code in here
x= int(input("masukan nilai"))
if x%2==0:
    if x >=2 and x <=7 :
        print("genap dibawah 7")
    elif x>=8 and x <=28:
        print("genap antara 8-28")
    elif x>28:
        print("diatas 28")
else:
    print("ganjil")

ganjil

Buatlah program yang mengkonversi nilai 1-100 kedalam bentuk nilai (A, B, C, D, F). dengan syarat:

- Nilai 90 hingga 100 dikonversi menjadi A
- Nilai 80 hingga 89 dikonversi menjadi B
- Nilai 70 hingga 79 dikonversi menjadi C
- Nilai 65 hingga 69 dikonversi menjadi D
- dan dibawah nilai 65 dikonversi menjadi F

In [ ]:
# Code in here
...

B

Diberikan tiga buah variabel a, b dan c yang masing-masing berisi nilai integer. Tentukan yang variabel manakah yang memiliki nilai terbesar?

In [ ]:
# Code in here

b memiliki nilai terbesar

Buatlah program yang menentukan apakah sebuah nilai merupakan bilangan negatif, positif, atau nol.

In [100]:
# Code in here
n=0

if n<0:
    print("negatif")
elif n>0:
    print("positif")
elif n==0:
    print("nol")

nol

Buatlah program untuk mencari siapa yang tertua dari 3 orang.
   
    * Input:
    ```
        orang_1 = 40
        orang_2 = 25
        orang_3 = 37
    ```
    * Output:
        ```
        Orang yang tertua adalah orang pertama
        ```

In [ ]:
# Code in here
...

Orang Tertua adalah orang ketiga

Sebuah perusahaan akan memberikan bonus 10% dari gaji masing-masing pegawai kepada pegawainya jika pegawainya telah bekerja selama minimal 5 tahun.

    * Input:
```
kasus 1: gaji = 5000 ; masa bakti = 2
kasus 2: gaji = 10000; masa bakti = 6
```
    * Output:
```
kasus 1: Tidak ada bonus
kasus 2: Bonus adalah 500
```

In [ ]:
# Code in here
...

Buatlah Program Nested Branching Menentukan tahun kabisat dengan ketentuan

1. Jika satu tahun habis dibagi 4 dan tidak ada sisa, lanjutkan ke langkah berikutnya. Jika tidak habis dibagi 4. Bukan tahun kabisat.
2. Jika suatu tahun habis dibagi 4, tetapi tidak habis dibagi 100, itu adalah tahun kabisat. Jika satu tahun habis dibagi 4 dan 100, lanjutkan ke langkah berikutnya.
3. Jika suatu tahun habis dibagi 100, tetapi tidak habis dibagi 400 maka itu bukan tahun kabisat. Jika tahun habis dibagi keduanya maka tahun tersebut adalah tahun kabisat.

    * Input:
```
kasus 1: tahun = 2024
kasus 2: tahun = 2013
```
    * Output:
```
kasus 1: 2024 adalah tahun kabisat
kasus 2: 2013 bukan tahun kabisat
```

In [103]:
tahun=int(input("masukan tahun"))

# Code in here
if tahun%4==0:
    if tahun%100 != 0:
        print("tahun kabisat")
    elif tahun%100 == 0:
        if tahun%400 !=0:
            print("bukan kabisat")
        elif tahun%400 ==0:
            print("tahun kabisat")

else:
    print("bukan kabisat")

bukan kabisat

Buatlah program nested branching menentukan nilai
  1. Jika presensi kurang dari atau sama dengan tiga, lanjut ke langkah berikutnya
  2. Jika avarage nilai lebih atau sama dengan 80 maka "nilai A"
  3. Jika avarage nilai lebih atau sama dengan 70 maka "nilai B"
  4. Jika avarage nilai lebih atau sama dengan 60 maka "nilai C"
  5. Lainnya maka "nilai D"
  6. Jika presensi lebih dari itu maka "nilai X"


    * Input:
```
skenario 1: presensi = 2 ; average_nilai = 80
skenario 2: presensi = 4 ; average_nilai = 70
```
    * Output:
```
skenario 1: nilai A
skenario 2: nilai X
```

In [106]:
# Code in here
presensi=4
avg=70

if presensi <= 3:
    if avg>=80:
        print("nilai A")
    elif avg>=70:
        print('nilai b')
    elif avg>=60:
        print("nilai c")
    else:
        print('nilai D')
else:
    print(" nilai x")

 nilai x